/* General styles*/

*  {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    max-width: 100%;
    border: 1px solid grey;
}

body {
    line-height: 2;
}

section {
    padding: 4% 0;
}

/* Section: Header */
nav {
    display: flex;
    justify-content: space-between;
}


